<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII ART WEB</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/400.css">
 <link rel="stylesheet" href="static/500.css">

    <script defer src="https://unpkg.com/htmx.org@1.7.0"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>ASCII-ART-WEB</h1>
            <div class="logo">GO</div>
        </header>
        <main>
       
            <form class="input-section" hx-post="/asciihandler" hx-target="#result" hx-swap="innerHTML">
                <h2>Input text here</h2>
                <textarea id="input-text" name="input-text" placeholder="Type here........"></textarea>
                <div class="buttons">
                    <div class="dropdown">
                        <select class="dropdown-btn" id="Banner" name="Banner">
                            <option value="standard.txt" selected>Standard</option>
                            <option value="shadow.txt">Shadow</option>
                            <option value="thinkertoy.txt">Thinkertoy</option>
                        </select>
                    </div>
                    <button class="generate"  type="submit">Generate...</button>
                    <button class="reset" hx-post="/" hx-target="body" hx-swap="innerHTML">RESET</button>

                </div>
            </form>



            <section class="contributors">
                <h2>CONTRIBUTORS:</h2>
                <div class="contributor">
                    <img src="https://learn.zone01kisumu.ke/git/avatars/fb9713e670165fd5fc7536ccc10a6c8d?size=870">
                    <p><a href="https://learn.zone01kisumu.ke/git/tesiaka">tesiaka</a></p>
                </div>
                <div class="contributor">
                    <img src="https://learn.zone01kisumu.ke/git/avatars/8d298bcc662dd253ab4426515673269d?size=870">
                    <p><a href="https://learn.zone01kisumu.ke/git/jerootieno">jerootieno</a></p>
                </div>
                <div class="contributor">
                    <img src="https://learn.zone01kisumu.ke/git/avatars/cf0006d1b23256772956a4629c7a25a1?size=870">
                    <p><a href="https://learn.zone01kisumu.ke/git/viarony">viarony</a></p>
                </div>
            </section>
        </section>

        </main>

        <div class="output-field" id="result">
   {{.Result}}
        </div>

    </div>
    <footer>
        <p>@Zone01 Kisumu</p>
    </footer>
</body>
</html>